## mako

<%namespace name='static' file='/static_content.html'/>

<div id="su-footer">
  <div class="su-container">
    <div class="su-row">
      <div id="su-footer-logo" class="span2">
        <a href="https://soict.hust.edu.vn/">
          <img
            src="${static.url('images/footer-hust-logo.png')}"
            alt="Hanoi University of Science and Technology"
            width="105"
            height="49"
          />
        </a>
      </div>
      <div id="su-footer-text" class="span10">
        <ul id="global-links">
          <li class="home"><a href="https://www.hust.edu.vn/">Hust Home</a></li>
          <li class="maps alt"><a href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+B%C3%A1ch+khoa+H%C3%A0+N%E1%BB%99i/@21.0070516,105.840707,17z/data=!3m1!4b1!4m5!3m4!1s0x3135ac76ccab6dd7:0x55e92a5b07a97d03!8m2!3d21.0070516!4d105.8428957">Maps &amp; Directions</a></li>
        </ul>
      </div>
      <div class="clear"></div>
      <p class="copyright vcard">
        <span>&copy;</span>
        <span class="fn org">Hanoi University of Science and Technology</span>.
        <span class="adr">
          <span class="locality">Hanoi</span>,
          <span class="region">Vietnam</span>.
        </span>
      </p>
    </div>
  </div>
</div>
